		<div class="container my-4">
			<div class="row ">
				<div class="col-lg-7">
					<div class="container mb-3">
						<h2 class="text-uppercase"><small class=" text-muted">nuevo producto</small></h2>
						<hr class="mt-0"/>
						<form>
							
							<div class="form-row justify-content-between p-0">
								
								<div class="form-group col-md-7">
									<input type="text" class="form-control" 
									name="name" [(ngModel)]="model.name" placeholder="Nombre"/>
								</div>
								<div class="form-group col-md-3">
									<input type="text" class="form-control" 
									name="precio" [(ngModel)]="model.precio" placeholder="Precio"/>
								</div>
								<div class="form-group col-md-2">
									<input type="text" class="form-control" 
									name="cantidad" [(ngModel)]="model.cantidad" placeholder="Cantidad"/>
								</div>
								
							</div>
							<div class="form-row">
								<div class="form-group col-md-10">
									<textarea class="form-control" rows="4" 
									name="description" [(ngModel)]="model.description" placeholder="Descripción" ></textarea> 
								</div>
								<div class="form-group col-md-2">
									<button type="submit" class="btn btn-success" (click)="addProducto()">Agregar</button>
								</div>
							</div>

						</form>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="alert alert-success alert-dismissable" *ngIf="msg">
						<a href="#" class="close" (click)="closeAlert()">
							&times;
						</a>
						{{msg}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-7">
					<div class="container">
						<h3 class="text-uppercase"><small class=" text-muted">listado de productos</small></h3>
						<hr class="mt-0"/>
						<div class="inner left">
							<i class="fas fa-search"></i>
							<input type="text" id="filtrar" class="form-control" placeholder="Filtrar"/>
						</div>
						<table class="table table-borderless table-striped text-center align-items-end">
							<thead>
								<tr>
									<th scope="col" class="text-capitalize">nombre</th>
									<th scope="col" class="text-capitalize">descripción</th>
									<th scope="col" class="text-capitalize">precio</th>
									<th scope="col" class="text-capitalize">cant.</th>
									<th scope="col" class="text-capitalize">borrar</th>
								</tr>
							</thead>
							<tbody class="buscar">
								<tr *ngFor="let producto of productos; let i = index">

									<td scope="row" class="text-capitalize font-weight-bold"><a href="#" (click)="editProducto(i)">{{producto.name}}</a></td>
									<td><h6 class="text-justify puntos">{{producto.description}}</h6></td>
									<td><h6>{{producto.precio}}</h6></td>
									<td><h6>{{producto.cantidad}}</h6></td>	
									<td><a (click)="deleteProducto(i)" class="btn btn-danger"><i class="fas fa-times"></i></a></td>		
									
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>

				<div class="col-xl-5" >
					
						<h3 class="text-uppercase"><small class=" text-muted">detalle</small></h3>
						<hr class="mt-0"/>
						<div class="container" [hidden]="hideUpdate">
						<h2 class="text-capitalize font-weight-bold m-0">{{model2.name}}</h2>
							<div class="row">
								<div class="col-md-8 py-3 price">
									<h4 class="bg-primary text-white p-2 mb-3 precio">{{model2.precio}}</h4>
									<h6 class="text-justify text-muted">{{model2.description}}</h6>
								</div>
								<div class="col-md-4 py-2 unit">
									<div class="row justify-content-center p-2">
										<h3 class="bg-success text-white unid">{{model2.cantidad}}</h3>
									</div>
									<div class="d-flex justify-content-center">
										<div class="col-5 p-0">
											<button class="btn btn-sm btn-secondary p-2" (click)="removeCantidad(i)"><i class="fas fa-minus"></i></button>
										</div>
										<div class="col-5 p-0">
											<button class="btn btn-sm btn-success p-2" (click)="addCantidad(i)"><i class="fas fa-plus"></i></button>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
